# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
chapter3/.vscode/ipch/34f06d705292263e/fig3_13.ipch
chapter3/.vscode/ipch/34f06d705292263e/mmap_address.bin
chapter3/.vscode/ipch/67b2ad81889658fc/fig3_33.ipch
chapter3/.vscode/ipch/93025a81a11ec945/fig3_34.ipch
chapter3/.vscode/ipch/67b2ad81889658fc/mmap_address.bin
chapter3/.vscode/ipch/93025a81a11ec945/mmap_address.bin
chapter3/.vscode/ipch/9ac47b81a54200e6/fig3_35.ipch
chapter3/.vscode/ipch/9ac47b81a54200e6/mmap_address.bin
chapter3/.vscode/ipch/d898f58810e43f75/fig3_23.ipch
chapter3/.vscode/ipch/d898f58810e43f75/mmap_address.bin
chapter3/.vscode/ipch/be5f5781b9b24bda/mmap_address.bin
chapter3/.vscode/ipch/be5f5781b9b24bda/fig3_39.ipch
chapter3/.vscode/ipch/b556f681b479e4d9/mmap_address.bin
chapter3/.vscode/ipch/b556f681b479e4d9/fig3_38.ipch
chapter3/.vscode/ipch/8a0749819bf17490/mmap_address.bin
chapter3/.vscode/ipch/8a0749819bf17490/fig3_37.ipch
chapter3/.vscode/ipch/816b28819714992f/mmap_address.bin
chapter3/.vscode/ipch/816b28819714992f/fig3_36.ipch
